.settings,
.content {
  display: flex;
  gap: var(--content-gap);
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-block: 2em;
  padding-inline: var(--side-margins);
  justify-content: flex-start;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* overflow: scroll; */
}

.settings {
  display: flex;
  flex-direction: column;
}

.article_card_container {
  display: flex;
  position: relative;
  /* width: calc(33.3% - var(--content-gap) + (var(--content-gap) / 3)); */
  width: 100%;
  aspect-ratio: 1;
}

.article_functions {
  display: flex;
  flex-direction: row;
  opacity: 0;
}

.article_functions:hover,
.article_functions:focus-within {
  opacity: 1;
}

.article_link {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  position: absolute;
  z-index: 498;
  opacity: 0.5;
  transition: var(--transition);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article_functions .article_link:nth-child(2) {
  left: 50%;
}

.article_link:hover,
.article_link:focus {
  opacity: 1;
}

.article_link p {
  font-weight: bold;
}

/* .article_link .eye {
  font-size: 6em;
} */

@media screen and (max-width: 1120px) {
  .article_card_container {
    width: 100%;
    max-width: 500px;
    min-width: 280px;
  }
}
