.socials_section {
  --padding: 1rem;
  position: absolute;
  bottom: 0;
  margin-inline-start: calc(var(--side-margins) - var(--padding));
  margin-block-end: calc(var(--side-margins) - var(--padding));
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  z-index: 101;
  /* background-color: ; */
  backdrop-filter: blur(0.1rem);
  background: var(--bg-clr);
  border-radius: var(--page-content-br);
  color: var(--text-clr);
  /* border: var(--border-thickness) solid var(--bg-clr); */
  padding: var(--padding);
}

.socials_header {
  font-weight: bold;
  font-size: 2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.social_link {
  font-size: 4rem;
  /* background-color: brown; */
  aspect-ratio: 1;
  width: fit-content;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  color: var(--text-clr);
  padding: 0.5rem;
}

.social_link:hover,
.social_link:focus {
  transform: scale(1.2);
  /* color: var(--faded-clr); */

  color: var(--bg-clr);
  box-shadow: -0.1rem 0.1rem 1rem var(--brand-clr);
  background: var(--brand-clr);
}

#github {
  --brand-clr: var(--github);
}

#codepen {
  --brand-clr: var(--codepen);
}

#stack_overflow {
  --brand-clr: var(--stack-overflow);
}

#twitter {
  --brand-clr: var(--twitter);
}

#mail {
  --brand-clr: var(--mail);
}
